/*.room-background {
    background: url(https://raw.githubusercontent.com/UserContributer/epicraft-rcs-theme-plugdj/master/epicraft-wallpaper.png) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}*/
#dj-button {
    background: #282c35;
    border-radius: 0px;
}
