/*.room-background {
    background: url(https://raw.githubusercontent.com/UserContributer/epicraft-rcs-theme-plugdj/master/epicraft-wallpaper.png) no-repeat !important;
    width: 500% !important;
    height: 500% !important;
}*/

/* DJ */
#dj-button .left
{
        border-radius:          0px;
        -webkit-border-radius:  0px;
        -moz-border-radius:     0px
}
#dj-button
{
        border-radius:          0px;
        -webkit-border-radius:  0px;
        -moz-border-radius:     0px;
}
#dj-button:hover
{
        border-radius:          0px;
        -webkit-border-radius:  0px;
        -moz-border-radius:     0px;
}

